server {
    server_name robertmalmstein.online;


    location / {
        include proxy_params;
        proxy_pass http://unix:/home/ubuntu/Trashy/trash.sock;
    }
 # managed by Certbot

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/robertmalmstein.online-0001/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/robertmalmstein.online-0001/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}
server {
    if ($host = robertmalmstein.online) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    server_name robertmalmstein.online;
    listen 80;
    return 404; # managed by Certbot


}
