<!DOCTYPE html>
<html>
    <head>
        <!-- META DATA -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0"/>
        <title>Trashy - About</title>

        <!-- MY FAVICON -->
        <link rel="shortcut icon" href="../static/images/trash_can.png">

        <!-- JQUERY API -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- SEMANTIC UI API -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

        <!-- MY FILES -->
        <link href="../static/styles/mycss.css" rel="stylesheet">

    </head>
    <body>
        <div class="ui inverted vertical masthead center aligned segment">
            <div class="ui container">

                <!-- NAVIGATION BAR -->
                <div class="ui inverted segment">
                    <div class="ui inverted secondary pointing menu">
                        <a class="item" href='/to_map'>Map</a>
                        <a class="active item">About</a>
                        <div class="right menu">
                        </div>
                    </div>
                </div>
            </div>
            <div id ="about" class="ui container">
                <h1>About <img src="../static/images/trash_can.png" alt="Trash Can" style="width:22px;height:22px;">Trashy<img src="../static/images/trash_can.png" alt="Trash Can" style="width:22px;height:22px;"></h1>
                <p>Trashy was made to make locating trash cans easier. It uses geolocation to find your position and displays the nearest 20 trash cans to you. Users who sign in via Google can also submit trash cans. These trash cans can be seen by anyone, but users who submit them can see which ones are theirs by the green markers.</p>
                <h1>Marker Colors</h1>
                <p>Green Marker: Signifies trash can locations that you submitted.</p>
                <p>Blue Marker: Signifies trash can locations that others have submitted.</p>
                <p>Black Marker: Helps to identify where the center of the map is when submitting a trash can location.</p>
                <br/>
                <h1>How to use Trashy</h1>
                <h3><u>Step One:</u></h3>
                <p>Allow geolocation through your web browser. Without this, Trashy can't find the neareast trash cans to you easily.</p>
                <h3><u>Step Two:</u></h3>
                <p>Sign in with Google using the Login Button on the top right of the map page.</p>
                <h3><u>Step Three:</u></h3>
                <p>Click the Show Trash Can Locator button. This will show a marker on the map so you can pinpoint the exact location of the garbage can before submitting it.</p>
                <h3><u>Step Four:</u></h3>
                <p>Move the marker to the correct location and click the Submit Trash Can button.</p>
                <h3><u>Step Five:</u></h3>
                <p>A green marker should now appear if there were no duplicate entries at that position. This Green Marker signifies that you added this location.</p>
                <h3><u>Delete a Trash Can Location:</u></h3>
                <p>If you submit a trash can location and want to delete it for whatever reason, you can click on the marker and click on the Delete button to remove it.</p>
                <br/>
                <h1>Upcoming Features</h1>
                <p>- Voting to confirm trash can locations.</p>
                <p>- Offline Mode.</p>
                <p>- Ability to give Trash Cans names when you submit one.</p>
                <p>- Ability to tag Trash Cans with name of the person who submitted it.</p>
                <br/>
                <h1>About Me</h1>
                <p>I'm a Full-Stack Software Engineer studying at Holberton School. I made this web app over two weeks - implementing front-end, back-end and server operations.</p>
            </div>
            <h1>Have Questions? Email me!</h2>
            <div class="ui inverted form">
                <div class="field">
                  <label>Your Email Address</label>
                  <textarea rows="1"></textarea>
                </div>
                <div class="field">
                  <label>Message</label>
                  <textarea></textarea>
                </div>
            </div>
            </br>
            <div class="ui button" id="submit">Submit</div>
        </div>
        
    </body>

</html>
